<!-- <p>header-bar works!</p> -->





<nav class="navbar navbar-light" style="background-color: #e48a36;">
    <h1 style="font-family: 'Lucida Handwriting' ;">Welcome to Heavenly Grove Winery</h1>

    <button class="navbar-brand">Register here</button>



    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a>Register</a></li>
        </ul>
    </div>

</nav>



<form action="#">
    <div class="input-group">
        <select class="form-select" style="background-color: rgb(255, 179, 116) ;">
            <option selected>Wine Categories</option>
            <option value="Red">Red</option>
            <option value="Rosé">Rosé</option>
            <option value="White">White</option>
            <option value="Sparkling">Sparkling</option>

        </select>

        <input type="text" aria-label="Last name" class="form-control w-45" placeholder="Search for products" style="background-color: blanchedalmond;">
        <button class="input-group-text bg-transparent" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-search">
                <circle cx="11" cy="11" r="8"></circle>
                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            </svg>
        </button>
    </div>
</form>


<div style="background-color: rgb(255, 179, 116);">
    <ul class="nav">

        <li class="nav-item">
            <a class="nav-link" routerLink="">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/productcatalog">Product Catalog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/encyclopedia">Wine Encyclopedia</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
    </ul>
</div>

















<!-- testing cart -->


