




<div style="float: right; padding: 50px; " >
   
    <p>Login or Sign up</p>
  
  
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <label for="username">Username or Email</label>
  
    <input type="text" id="username"
    formControlName="username"
    class="form-control">
  
    
    <label for="loginPW">Password</label>
  
    <input type="password" id="loginPW"
    formControlName="loginPW"
    class="form-control">
    


    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
  
  </div>
  

  