<p>store-catalog works!</p>

<h1>Bringing you the most exquisite wines from around the world</h1>
<!-- <img src="../../assets/images/image1.jpg" alt="image"> -->





<!-- image source: https://lakeeffectslc.com/what-makes-a-fine-wine/ Creator: Givaga
Copyright: ©Givaga - stock.adobe.com -->
<div class="row"  style="padding: 100px;">
  <div class="col-lg-6 col-12">
     <div class=" pt-8 px-6 px-xl-8 rounded "
        style="background:url(../../assets/images/image2_finewine.jpg)no-repeat; background-size: cover; height: 800px;">
        <div style="padding: 50px;">
           <h3 class="fw-bold text-white">The best wines the world has to offer
           </h3>
           <p class="text-white">Get the best deals in town!</p>
           <a routerLink="/productcatalog" class="btn btn-primary">See Our Offerings <i class="feather-icon icon-arrow-right ms-1"></i></a>
        </div>
    </div>
   </div>
 </div>















 <!-- Carousel -->

<!-- image sources: https://www.decanter.com/premium/best-fine-wines-2019-429471/ , https://sg.cruworldwine.com/cru-world/fine-wine-price-correction-sg -->



<div style="padding: 100px; float: left;">
<h2>Most popular wine offerings of this month</h2>

 <div class="bd-example">
    <div id="WineCaptions" class="carousel slide" data-bs-ride="carousel">
      <ol class="carousel-indicators">
        <li data-bs-target="#WineCaptions" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#WineCaptions" data-bs-slide-to="1"></li>
        <li data-bs-target="#WineCaptions" data-bs-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" style="max-width: 800px; object-fit: cover;">
        <div class="carousel-item active">
          <img src="../../assets/images/image1.jpg" class="d-block w-100 " alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h3>Mystic Moon</h3>
            <p>Delicate and floral with a touch of honey</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../assets/images/Jane-Ansons-top-fine-wines-of-2019-920x609.jpg" class="d-block w-100 " alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h3>Velvet Elixir</h3>
            <p>Opulent with flavors of blackcurrant and chocolate</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../assets/images/Fine_Wine_Gives_Back_its_2022_Outperformance-1.png" class="d-block w-100 " alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h3>Enchanted Vine</h3>
            <p>Juicy and vibrant with a burst of red berries</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#WineCaptions" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#WineCaptions" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
  </div>



</div>



