<!-- <p>about works!</p> -->






<div style="padding: 100px;">

<h3>Our Locations</h3>

<div style="padding: 50px;">
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3988.8041224818817!2d103.77532326594608!3d1.2919080829407454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2ssg!4v1694714813900!5m2!1sen!2ssg" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>




<h3>Contact info for our branches</h3>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Branch Number</th>
        <th scope="col">Address</th>
        <th scope="col">Phone no.</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Kent Ridge</td>
        <td>6123 4567</td>
        <td>heavenlygrovekr@gmail.com</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Paya Lebar</td>
        <td>6235 3535</td>
        <td>heavenlygrovepl@gmail.com</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Orchard</td>
        <td>6555 5555</td>
        <td>heavenlygroveorchard@gmail.com</td>
      </tr>
    </tbody>
  </table>





</div>




